@media screen and (max-width: 767px) {
    .about-header{
        background-image: url('../images/bg-max-750.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    p {
        padding: 0 30px;
    }
    .about-services {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }
    .about-services-photo{
        max-width: 750px;
    }
    .about-services-photo img{
        width: 100%;
    }

    .about-services-desc {
        display: flex;
        flex-direction: column;
        font-size: 31px;
    }
    .about-services-text {
        padding: 88px 76px;
    }
    h1{
        font-size: 85px;
    }
    .about-services-desc p{
        padding: 0 0 168px;
        width: 100%;
        margin-right: 0;
        max-width: none;
    }
    .designed-email {
        display: flex;
        flex-direction: column;
        padding: 80px 13px 63px;
    }
    .designed-email span {
        margin-bottom: 28px;
        font-size: 30px;
    }
    .designed-email a{
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .about-header{
        margin-bottom: 75px;
    }
    .menu{
        padding: 16px 16px;
    }
    .text-about{
        margin-bottom: 75px;
    }
    p {
        padding: 0 15px;
    }
    .about-services-desc {
        font-size: 16px;
    }
    .about-services-text {
        padding: 20px 20px 50px;
    }
    .about-services-text h1{
        font-size: 35px;
        margin-bottom: 40px;
    }
    .about-services-desc p{
        padding: 0;
        width: 100%;
        margin-right: 0;
        max-width: none;
        margin-bottom: 40px;
    }
    .designed-email {
        display: flex;
        flex-direction: column;
        padding: 25px 13px;
    }
    .designed-email span {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .designed-email a{
        font-size: 16px;
    }
}
