@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansLight-Italic.eot');
    src: url('../fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
    url('../fonts/OpenSansLight-Italic.woff') format('woff'),
    url('../fonts/OpenSansLight-Italic.ttf') format('truetype'),
    url('../fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../images/bg-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 80px;
}

.about-header {
    background-image: url('../images/bg-header-about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 164px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 48px 0;
    position: absolute;
}

i{
    color: white;
    font-size: 16px;
}

h1{
    color: #ffffff;
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

h1 span{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

.text-block {
    padding: 83px 15px 92px;
    text-align: center;
    margin-bottom: 163px;
}


.subtitle{
    color: #d4af37;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
}

.title{
    color: #021725;
    font-size: 44px;
    text-align: center;
    margin-bottom: 55px;
}

.text-width{
    max-width: 760px;
    margin: auto;
    font-size: 18px;
    color: #021725;
    display: block;
    margin-bottom: 46px;
    text-align: center;
}

.more {
    color: #021725;
    text-decoration: none;
    font-size: 14px;
    padding: 22px 48px;
    border: solid 1px #000000;
    outline: none;
}

.link-center{
    text-align: center;
    margin-bottom: 162px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 163px;
}

.pictures img {
    width: 25%;
    padding: 0 1.5px 3px;
}

.people{
    max-width: 750px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 163px;
}

.people-test{
    max-width: 750px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.people-card{
    background-color: #f9f9f9;
    text-align: left;
    margin-right: 4px;

}

.people-card h4{
    padding: 20px 18px 0;
    text-transform: uppercase;
}

.people-card h5{
    color: #021725;
    font-size: 21px;
    padding: 22px 18px 0;
}

.people-card p{
    font-size: 13px;
    color: #021725;
    width: 100%;
    padding: 37px 18px 50px;
}

.post{
    background-color: #f9f9f9;
    max-width: 770px;
    margin: auto;
    display: flex;
    margin-bottom: 85px;
}


.text-post {
    text-align: left;
    padding: 40px;
}

.subtitle-card {
    color: #d4af37;
    font-size: 13px;
    text-transform: uppercase;
}

.data {
    font-size: 13px;
    color: #505d68;
    display: block;
    margin-bottom: 22px;

}
.text-post h5{
    color: #505d68;
    font-size: 30px;
    margin-bottom: 34px;
}
.text-post p{
    font-size: 16px;
    color: #505d68;
    margin-bottom: 58px;
}

.link-read {
    color: #021725;
    text-decoration: none;
    font-size: 14px;
    padding: 18px 46px;
    border: solid 1px #000000;
}
.maps{
    max-width: 770px;
    max-height: 300px;
    margin: 0 auto 52px;
}
iframe {
    width: 100%;
    height: 100%;
}

.contacts {
    background-color: #f9f9f9;
    max-width: 770px;
    margin:0 auto 82px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.contacts-style {
    padding: 52px 15px;
    width: 50%;
}

.contacts-style h6{
    color: #505d68;
    font-size: 13px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.contacts-style span {
    color: #505d68;
    font-size: 19px;
    line-height: 34px;
}

.contacts a{
    display: block;
    color: #505d68;
    font-size: 19px;
    text-decoration: none;
}
.margin-link {
    margin-bottom: 18px;
}

footer{
    background-color: #eeeeee;
}

.designed-email {
    max-width: 770px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 35px;
}

.designed-email span {
    font-size: 16px;
    color: #505d68;
}
.designed-email a{
    color: #505d68;
    font-size: 16px;
    text-decoration: none;
}

.text-about{
    max-width: 769px;
    font-size: 18px;
    color: #021725;
    margin: 0 auto 158px;
    text-align: center;
}

.about-services-text {
    padding: 48px 41px;
}

.about-services-text h1{
    font-size: 45px;
    color: #505d68;
    margin-bottom: 92px;
}

.about-services{
    display: flex;
    background-color: #f9f9f9;
}

.about-services-photo img{
    width: 100%;
}

.about-services-desc{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #505d68;
}

.about-services-desc p{
    max-width: 225px;
    margin-right: 100px;
}

.about-services-photo {
    max-width: 640px;
    max-height: 450px;
}

.about-services-desc ul{
    list-style: none;
}

.about-services-desc ul li::before {
    content: "-";
    color: #505d68;
    display: inline-block;
    margin-right: 11px;
}

.blog-header {
    background-image: url('../images/bg-blog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 78px;
}
.contact-blog-wrapper{
    padding: 64px 70px 64px;
    background-color: #f9f9f9;
}
.content-blog {
    width: 75%;
    padding: 32px 14px;
    color: #ffffff;
}

.owl-nav .owl-prev{
    position: absolute;
    left: -80px;
    top: 0;
    color: black;
    outline: none;
}
.owl-nav .owl-prev:before{
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 43px;
}

.owl-nav .owl-next{
    position: absolute;
    right: -80px;
    top: 0;
    color: black;
    transform: rotate(180deg);
    outline: none;
}
.owl-nav .owl-next:before{
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 43px;
}

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    outline: none;
}

.owl-dots .owl-dot span{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #505d68;
    margin: 5px;
    border-radius: 5px;
}

.owl-dots .owl-dot.active span{
    background-color: black;
    outline: none;
}

.sidebar-blog{
    width: 25%;
}

.ui-widget-header{
    border: none;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding: 40px;
}
.ui-button{
    display: none;
}
.ui-dialog{
    max-width: 750px;
    padding: 0;
}

.ui-dialog .ui-dialog-title {
    float: none;
}

.ui-widget.ui-widget-content {
    border:none;
}


.ui-dialog .ui-dialog-titlebar {
    padding: 40px;
}

.input-email label {
    display: block;
    margin-right: 53px;
    font-size: 17px;
    color: black;
    text-align: center;
}

.input-email input {
    display: block;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    min-width: 384px;
    padding: 3px;
    outline: none;
}

.input-email {
    display: flex;
    justify-content: center;
    padding: 40px 15px;
}

.or{
    margin-bottom: 30px;
    font-size: 17px;
    text-align: center;
}

.reset-password button{
    margin:0 auto 30px;
    display: block;
    min-width: 530px;
    border: none;
    background: linear-gradient(to right, #d7d7d7, #b7b7b7);
    padding: 20px;
    font-size: 20px;
    color: #000000;
    outline: none;
}

.log-in-using-f {
    text-align: center;
    max-width: 530px;
    margin: 0 auto 165px;
}

.log-in-using-f a {
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    background: linear-gradient(to right, #567cce, #4865a3);
    width: 530px;
    padding: 18px;
}

.log-in-using-f i{
    font-size: 24px;
}

#opener {
    background: none;
    font-size: 14px;
    color: #021725;
    cursor: pointer;
}

button{
    cursor: pointer;
}


